@{
    Layout = "";
}



@using KSS.Helpers
@using KSS.Server.Entities
@model KSS.Models.EmployeeModel
           
@{
    var months = new Dictionary<int, string>
    {
        {1, "января"},
        {2, "февраля"},
        {3, "марта"},
        {4, "апреля"},
        {5, "мая"},
        {6, "июня"},
        {7, "июля"},
        {8, "августа"},
        {9, "сентября"},
        {10, "октября"},
        {11, "ноября"},
        {12, "декабря"},
    };
}

<script src="@Url.Content("~/Scripts/jquery.jstree.js")" type="text/javascript"></script>

<div class="personCardLayout">
    
    <div class="personIMGLayout">
        <img class="personIMG" src="http://cp14.nevsepic.com.ua/184/18370/1385021122-haunted__by_senju_hime-d3dj1ah.jpg" /> 
            @if (ViewBag.IsAdmin)
            {
                <p id="loadImageLink" class="personCardEdit personCardLoadImage" >загрузить фото</p>
            }
    </div>
    
    
    <div class="aroundPhotoPersonContainer">
        <h5 class="personCardName">
            @Model.Employee.Name
        </h5>
        
        @if (Model.Employee.BirthDay.HasValue)
        {
            <p class="personCardBirthDay">День Рождения: @Model.Employee.BirthDay.Value.Day @months[@Model.Employee.BirthDay.Value.Month]</p>
        }
            
        <a class="personCardEmail" href="mailto:@Model.Employee.EMail">@Model.Employee.EMail</a>
     
        <a class="personCardAddToFavoriteLink" data-url='@Url.Action("ChangeFavoriteStatus", "Employee", new { id = Model.Employee.Id})'>
            @if (Model.IsFavorite)
            {
                <img src="~/Images/selectedStar.png" />
                <p>в избранном</p>
            }
            else
            {
                <img src="~/Images/star.png" />
                <p>добавить в избранное</p>
            }
        </a>
    </div>
    
    
    <br/>
    
    <div class="personCardJobContainer">
        <p class="personCardJobTitle">Должность:</p>
        <p class="personCardJob">@Model.PositionState.Title</p>

        <p class="personCardJobTitle personCardJobMarginTop">Филиал:</p>
        <p class="personCardJob personCardJobMarginTop">@Model.DivisionState.Division</p>


        <p class="personCardJobTitle personCardJobMarginTop">Подразделение:</p>
        <p class="personCardJob personCardJobMarginTop">@Model.DepartmentState.Department</p>
        
        
        <p class="personCardJobTitle personCardJobMarginTop">Член штаба:</p>
        @if (ViewBag.IsAdmin)
        {
            <input type="checkbox" checked class="personCardDepartmentMember" />
        }
        else
        {
            <input type="checkbox" checked disabled="" class="personCardDepartmentMember" />
        }
        
    </div>
    
    
    <div class="personCardPlaceContainer">
        <p class="personCardJobTitle">Местоположение:</p>

@*        <p class="personCardJob">Россия, Ростовская область, Ростов-на-Дону</p>*@
        
            @if (Model.Location != null)
            {
                <!--в этой только СТРАНА, ОБЛАСТЬ, ГОРОД-->
                <p class="personCardJob">
                    @Model.EmployeePlaces[0].Location.Locality.Country, @Model.EmployeePlaces[0].Location.Locality.Region, @Model.EmployeePlaces[0].Location.Locality.Locality1
                </p>

                <!--в этой только УЛИЦА, ДОМ-->
@*                <p class="personCardJob">ул. Большая Садовая, 49.</p>*@
                <p class="personCardJob">
                </p>
            }
            else
            {
                <p class="personCardJob"></p>
                <p class="personCardJob"></p>
            }


        <p class="personCardJobTitle personCardJobMarginTop">Номер офиса:</p>
       
            @foreach (var place in Model.EmployeePlaces)
            {
                if (!string.IsNullOrEmpty(place.Office))
                {
                    <p class="personCardJob personCardJobMarginTop">
                        @place.Office
                    </p>
                    break;
                }
            }
      
        
        @if (ViewBag.IsAdmin)
        {
            <p id="editPlaceLink" class="personCardJob personCardEdit ">редактировать</p>
        }
    </div>
    
    @if (ViewBag.IsAdmin)
    {
        <div class="personCardChangePlaceDialog personCardDialog">
            <p class="personCardChangePlaceDialogSimpleLabel">страна</p>
            <select class="personCardCountryComboBox personCardChangePlaceDialogSelect" tabindex="1">
                <option selected="selected">Россия</option>
            </select>
        
            <p class="personCardChangePlaceDialogSimpleLabel">регион</p>
            <select class="personCardRegionComboBox personCardChangePlaceDialogSelect" tabindex="2">                
                @foreach (var reg in DBHelper.GetRegions("Россия"))
                {
                    if (Model.Location != null && string.Equals(Model.Location.Locality.Region, reg))
                    {
                        <option value="@reg" selected="selected">@reg</option>
                        continue;
                    }
                    <option value="@reg">@reg</option>
                }
            </select>
        
            <p class="personCardChangePlaceDialogSimpleLabel">населенный пункт</p>
            <select class="personCardCityComboBox personCardChangePlaceDialogSelect" tabindex="3">
                @if (Model.Location != null)
                {
                    foreach (var reg in DBHelper.GetLocalities(Model.Location.Locality.Country,Model.Location.Locality.Region))
                    {
                        if (Model.Location != null && string.Equals(Model.Location.Locality.Locality1, reg.Value))
                        {
                            <option value="@reg.Key" selected="selected">@reg.Value</option>
                            continue;
                        }
                        <option value="@reg.Key">@reg.Value</option>
                    }
                }
            </select>
        
            <p class="personCardChangePlaceDialogSimpleLabel">улица</p>
            @if (Model.Location != null)
            {
                <input type="text" class="personCardStreet personCardChangePlaceDialogText"  tabindex="4" value="@Model.Location.Street" />
            }
            else
            {
                <input type="text" class="personCardStreet personCardChangePlaceDialogText"  tabindex="4" />
            }
           
            <p class="personCardChangePlaceDialogSimpleLabel personCardChangePlaceDialogHalfLabel">дом</p>
            <p class="personCardChangePlaceDialogSimpleLabel personCardChangePlaceDialogHalfLabel">номер офиса</p>
        
            
            @if (Model.Location != null)
            {
                <input type="text" class="personCardHouse personCardChangePlaceDialogText personCardChangePlaceDialogHalfText" tabindex="5" value="@Model.Location.Edifice"/>
                <input type="text" class="personCardOfficeNumber personCardChangePlaceDialogText personCardChangePlaceDialogHalfText" tabindex="6" value="@Model.Place.Office"/>
            }
            else
            {
                <input type="text" class="personCardHouse personCardChangePlaceDialogText personCardChangePlaceDialogHalfText" tabindex="5"/>
                <input type="text" class="personCardOfficeNumber personCardChangePlaceDialogText personCardChangePlaceDialogHalfText" tabindex="6"/>
            }

        
            <div class="personCardChangePlaceDialogButtonsContainer">
                <p id="cancelEditPlace" class="personCardEdit personCardCancelEditPlaceButton">отменить</p>
                <input type="button" class="departmentSearchButton personCardSavePlaceDialogButton" value="сохранить" tabindex="7"/>                    
            </div>

        </div>
    }


    <div class="personCardPlaceContainer">
        <p class="personCardPhonesHeader" style="float:none">ТЕЛЕФОНЫ СОТРУДНИКА:</p>
        
        <div>
            <p id="phoneType1" class="personCardJobTitle">внутренний:</p>
            <p id="phoneNumber1" class="personcardJobEdit ">49-85-78</p>
            
            @if (ViewBag.IsAdmin)
{
                <p id="editPhoneLink1" class="personCardEdit personCardEditPhoneLink">редактировать</p>            
            }
            else
            {
                <p id="editPhoneLink1" class="personCardEdit personCardEditPhoneLink" style="visibility: hidden">редактировать</p>            
            }            
        </div>
        <div>
            <p id="phoneType2" class="personCardJobTitle">внутренний:</p>
            <p id="phoneNumber2" class="personcardJobEdit ">49-85-78</p>
            
            
            @if (ViewBag.IsAdmin)
{
                <p id="editPhoneLink2" class="personCardEdit personCardEditPhoneLink">редактировать</p>
            }
            else
            {
                <p id="editPhoneLink2" class="personCardEdit personCardEditPhoneLink" style="visibility: hidden">редактировать</p>
            }    
        </div>
        <div>
            <p id="phoneType3" class="personCardJobTitle">внутренний:</p>
            <p id="phoneNumber3" class="personcardJobEdit ">49-85-78</p>
            
            @if (ViewBag.IsAdmin)
{
                <p id="editPhoneLink3" class="personCardEdit personCardEditPhoneLink">редактировать</p>
            }
            else
            {
                <p id="editPhoneLink3" class="personCardEdit personCardEditPhoneLink" style="visibility: hidden">редактировать</p>
            }    
        </div>
        <div>
            <p id="phoneType4" class="personCardJobTitle">внутренний:</p>
            <p id="phoneNumber4" class="personcardJobEdit ">49-85-78</p>

            @if (ViewBag.IsAdmin)
{
                <p id="editPhoneLink4" class="personCardEdit personCardEditPhoneLink">редактировать</p>
            }
            else
            {
                <p id="editPhoneLink4" class="personCardEdit personCardEditPhoneLink" style="visibility: hidden">редактировать</p>
            } 
        </div>
        <div>
            <p id="phoneType5" class="personCardJobTitle">внутренний:</p>
            <p id="phoneNumber5" class="personcardJobEdit ">49-85-78</p>
            @if (ViewBag.IsAdmin)
{
                <p id="editPhoneLink5" class="personCardEdit personCardEditPhoneLink">редактировать</p>
            }
            else
            {
                <p id="editPhoneLink5" class="personCardEdit personCardEditPhoneLink" style="visibility: hidden">редактировать</p>
            } 
        </div>
        
        <div class="personCardDialog personCardChangePhoneDialog">
            <p id="personCardChangePhoneDialogPhoneTypeLabel" class="personCardChangePlaceDialogSimpleLabel">
                тип_номера
            </p>
            <input type="text" class="personCardStreet personCardChangePlaceDialogText"/>

            <div class="personCardChangePlaceDialogButtonsContainer">
                <p id="cancelEditPhone" class="personCardEdit personCardCancelEditPlaceButton">отменить</p>
                <input type="button" class="departmentSearchButton personCardSavePlaceDialogButton" value="сохранить" tabindex="7" />
            </div>
        </div>
    </div>
    
    @if (ViewBag.IsAdmin)
{
        <p id="personCardAddPhoneLink" class="personCardJob personCardEdit " style="margin-top: 10px;display: block">добавить новый</p>
    }

    <div class="personCardDialog personCardAddPhoneDialog">
        <p class="personCardChangePlaceDialogSimpleLabel">
            тип номера
        </p>
        <select class="personCardCityComboBox personCardChangePlaceDialogSelect" tabindex="10"></select>

        <p class="personCardChangePlaceDialogSimpleLabel">
            номер телефона
        </p>
        <input type="text" class="personCardStreet personCardChangePlaceDialogText" tabindex="11"/>

        <div class="personCardChangePlaceDialogButtonsContainer">
            <p id="cancelAddPhone" class="personCardEdit personCardCancelEditPlaceButton">отменить</p>
            <input type="button" class="departmentSearchButton personCardSavePlaceDialogButton" value="сохранить" tabindex="12" />
        </div>
    </div>
    
    <input type="file" id="upload" name="upload" style="visibility: collapse; width: 1px; height: 1px" />
</div>


<script>

    $(document).ready(function() {

        $('.personCardAddToFavoriteLink').on('click', function (e) {
            var currentPageItem = $(this);
            var url = currentPageItem.data('url');
            
            loadSearchPage(url);
        });


        $('#editPlaceLink').on('click', function (e) {
            hideAllDialogs();

            var dialog = $(".personCardChangePlaceDialog").first();

            var oldPosition = $(this).position();
            dialog.css({
                top: (oldPosition.top)
            });

            dialog.show();
        });

        $('#cancelEditPlace, #cancelEditPhone, #cancelAddPhone').on('click', function () {
            hideAllDialogs();
        });

        $('.personCardEditPhoneLink').on('click', function (e) {
            hideAllDialogs();

            var clickedItem = $(e.target);

            var idItem = clickedItem.attr('id');

            idItem = idItem.substr(13);//"editPhoneLink".length == 13


            $('#personCardChangePhoneDialogPhoneTypeLabel').text($('#phoneType' + idItem).text());
            var dialog = $('.personCardChangePhoneDialog').first();
            

            var oldPosition = $(this).position();
                
                dialog.css({
                    top: (oldPosition.top)
                });

            dialog.show();
        });

        $('#personCardAddPhoneLink').on('click', function(e) {
            hideAllDialogs();

            var dialog = $(".personCardAddPhoneDialog").first();

            var oldPosition = $(this).position();
            dialog.css({
                top: (oldPosition.top)
            });

            dialog.show();
        });

        $('#loadImageLink').on('click', function(e) {
            $('#upload').click();
        });

        function hideAllDialogs() {
            $(".personCardDialog").hide();
        }
    });

</script>