@{
    Layout = "";
}



@using KSS.Server.Entities
@model KSS.Models.EmployeeModel
           
@{
    var months = new Dictionary<int, string>
    {
        {1, "января"},
        {2, "февраля"},
        {3, "марта"},
        {4, "апреля"},
        {5, "мая"},
        {6, "июня"},
        {7, "июля"},
        {8, "августа"},
        {9, "сентября"},
        {10, "октября"},
        {11, "ноября"},
        {12, "декабря"},
    };
}

<script src="@Url.Content("~/Scripts/jquery.jstree.js")" type="text/javascript"></script>

<div class="personCardLayout">
    
    <div class="personIMGLayout">
        <img class="personIMG" src="http://cp14.nevsepic.com.ua/184/18370/1385021122-haunted__by_senju_hime-d3dj1ah.jpg" />   
        <p class="personCardEdit personCardLoadImage" >загрузить фото</p>     
    </div>
    
    <div class="aroundPhotoPersonContainer">
        <h5 class="personCardName">
            @Model.Employee.Name
        </h5>
        
        @if (Model.Employee.BirthDay.HasValue)
        {
            <p class="personCardBirthDay">День Рождения: @Model.Employee.BirthDay.Value.Day @months[@Model.Employee.BirthDay.Value.Month]</p>
        }
            
        <a class="personCardEmail" href="mailto:@Model.Employee.EMail">@Model.Employee.EMail</a>
        <a class="personCardAddToFavoriteLink" data-url='@Url.Action("ChangeFavoriteStatus", "Employee", new { id = Model.Employee.Id})'>
            @if (Model.IsFavorite)
            {
                <img src="~/Images/selectedStar.png" />
                <p>в избранном</p>
            }
            else
            {
                <img src="~/Images/star.png" />
                <p>добавить в избранное</p>
            }
        </a>
    </div>
    
    
    <br/>
    
    <div class="personCardJobContainer">
        <p class="personCardJobTitle">Должность:</p>
        <p class="personCardJob">@Model.PositionState.Title</p>

        <p class="personCardJobTitle personCardJobMarginTop">Филиал:</p>
        <p class="personCardJob personCardJobMarginTop">@Model.DivisionState.Division</p>


        <p class="personCardJobTitle personCardJobMarginTop">Подразделение:</p>
        <p class="personCardJob personCardJobMarginTop">@Model.DepartmentState.Department</p>

        <p class="personCardJobTitle personCardJobMarginTop">Член штаба:</p>
        <input type="checkbox" checked disabled class="personCardDepartmentMember" />
    </div>
    
    
    <div class="personCardPlaceContainer">
        <p class="personCardJobTitle">Местоположение:</p>
        <!--в этой только СТРАНА, ОБЛАСТЬ, ГОРОД-->
        <p class="personCardJob">Россия, Ростовская область, Ростов-на-Дону</p>
        <!--в этой только УЛИЦА, ДОМ-->
        <p class="personCardJob">ул. Большая Садовая, 49.</p>

        <p class="personCardJobTitle personCardJobMarginTop">Номер офиса:</p>
        <p class="personCardJob personCardJobMarginTop">49</p>
        
        <p id="editPlaceLink" class="personCardJob personCardEdit ">редактировать</p>
    </div>
    
    <div class="personCardChangePlaceDialog personCardDialog">
        <p class="personCardChangePlaceDialogSimpleLabel">страна</p>
        <select class="personCardCountryComboBox personCardChangePlaceDialogSelect" tabindex="1"></select>
        
        <p class="personCardChangePlaceDialogSimpleLabel">регион</p>
        <select class="personCardRegionComboBox personCardChangePlaceDialogSelect" tabindex="2"></select>
        
        <p class="personCardChangePlaceDialogSimpleLabel">населенный пункт</p>
        <select class="personCardCityComboBox personCardChangePlaceDialogSelect" tabindex="3"></select>
        
        <p class="personCardChangePlaceDialogSimpleLabel">улица</p>
        <input type="text" class="personCardStreet personCardChangePlaceDialogText"  tabindex="4"/>
        
        <p class="personCardChangePlaceDialogSimpleLabel personCardChangePlaceDialogHalfLabel">дом</p>
        <p class="personCardChangePlaceDialogSimpleLabel personCardChangePlaceDialogHalfLabel">номер офиса</p>
        
        <input type="text" class="personCardHouse personCardChangePlaceDialogText personCardChangePlaceDialogHalfText" tabindex="5"/>
        <input type="text" class="personCardOfficeNumber personCardChangePlaceDialogText personCardChangePlaceDialogHalfText" tabindex="6"/>
        
        <div class="personCardChangePlaceDialogButtonsContainer">
            <p id="cancelEditPlace" class="personCardEdit personCardCancelEditPlaceButton">отменить</p>
            <input type="button" class="departmentSearchButton personCardSavePlaceDialogButton" value="сохранить" tabindex="7"/>                    
        </div>

    </div>

    <div class="personCardPlaceContainer">
        <p class="personCardPhonesHeader" style="float:none">ТЕЛЕФОНЫ СОТРУДНИКА:</p>
        
        <div>
            <p class="personCardJobTitle">внутренний:</p>
            <p class="personcardJobEdit ">49-85-78</p>
            <p class="personCardEdit">редактировать</p>            
        </div>
        <div>
            <p class="personCardJobTitle">внутренний:</p>
            <p class="personcardJobEdit ">49-85-78</p>
            <p class="personCardEdit">редактировать</p>
        </div>
        <div>
            <p class="personCardJobTitle">внутренний:</p>
            <p class="personcardJobEdit ">49-85-78</p>
            <p class="personCardEdit">редактировать</p>
        </div>
        <div>
            <p class="personCardJobTitle">внутренний:</p>
            <p class="personcardJobEdit ">49-85-78</p>
            <p class="personCardEdit">редактировать</p>
        </div>
        <div>
            <p class="personCardJobTitle">внутренний:</p>
            <p class="personcardJobEdit ">49-85-78</p>
            <p class="personCardEdit">редактировать</p>
        </div>
    </div>
    <p class="personCardJob personCardEdit " style="margin-top: 10px;display: block">добавить новый</p>
 
</div>


<script>

    $(document).ready(function() {

        $('.personCardAddToFavoriteLink').on('click', function (e) {
            var currentPageItem = $(this);
            var url = currentPageItem.data('url');
            
            loadSearchPage(url);
        });


        $('#editPlaceLink').on('click', function(e) {
            var dialog = $(".personCardChangePlaceDialog").first();

            var oldPosition = $(this).position();
            dialog.css({
                top: (oldPosition.top)
            });

            dialog.show();
        });

        $('#cancelEditPlace').on('click', function() {
            hideAllDialogs();
        });

        function hideAllDialogs() {
            $(".personCardDialog").hide();
        }
    });

</script>