<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
@{
    Layout = "";
}
@using System.Data.Entity.Core
@using KSS.Models
@using KSS.Server.Entities
@using Microsoft.Ajax.Utilities
@model List<EmployeeModel>

    <ul class="personUL">
    
        @foreach (EmployeeModel employee in Model)
        {
            <li>
                <div class="lyncStatusDiv"></div>
                <div class="personIMGLayout">
                    <img class="personIMG" src="http://cp14.nevsepic.com.ua/184/18370/1385021122-haunted__by_senju_hime-d3dj1ah.jpg" />    
                </div>
                <div class="innerPersonLayout">
                    <h5 class="personName">
                        <a href='@Url.Action("Index", "Employee", new {id = employee.Employee.Id})'>@employee.Employee.Name</a>
                    </h5>
                    <p class="personDepartment"> @employee.DepartmentState.Department</p>
                    <p class="personJob">@employee.PositionState.Title</p>
                    <div class="phonesLine">
                        @foreach (EmployeePlace empPlace in employee.EmployeePlaces)
                        {
                            <p class="personCityPhone">33-24;</p>
                            <p class="personMobilePhone">@empPlace.PhoneNumber;</p> @*
                        <p class="personMail">titov.german@rossety.com</p>*@
                        }
                    </div>
                    <div class="phonesLine">
                        @foreach (SpecificStaffPlace specEmpPlace in employee.SpecificStaffPlaces)
                        {
                            <p class="personCityPhone">33-24;</p>
                            <p class="personMobilePhone">@specEmpPlace.PhoneNumber;</p> 
                            @*<p class="personMail">titov.german@rossety.com</p>*@
                        }
                    </div>
                </div>
            </li>
        }
    </ul>
<div id="pages" class="pagesContainer">
    @for (int i = ViewBag.StartIndex; i < ViewBag.StartIndex + 5; i++)
    {
        <a class='pageNmbr' data-url='@Url.Action("SearchEmployees", "Home", new {employeeName = ViewBag.Search, startIndex = i})'>
            @i
        </a>
    }
</div>
<script type="text/javascript">

    $(document).ready(function() {
        
        $('.pageNmbr').on('click', function (e) {
            var currentPageItem = $(e.target);
            var url = currentPageItem.data('url');
            $('.progress').show();

            loadSearchPageResult(url);
        });
    });

</script>