@using KSS.Models
@model KSS.Models.TreeViewNode
@helper TreeView(List<TreeViewNode> nodes)
{
    if (nodes != null)
    {
        foreach (TreeViewNode node in nodes)
        {

            <li>
                @if (!node.HasChilds)
                {
                    <span class="leaf @node.Type" id="@node.Id" 
                        >@node.Name</span>
                }
                else
                {
                    <span class="folder plus hasChilds @node.Type"
                          data-url='@Url.Action("TreeNodesDepartment", "Home", new {id = node.Id, division = node.DivisionId})'>@node.Name</span>
                }
            </li>
        }
    }
}



<ul id="continentFolders">
    @{
        var data = ViewBag.Children;
    }
    @TreeView( data)
</ul>