
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

@using KSS.Models
@model TreeViewModel

@helper TreeView(IEnumerable<TreeViewNode> nodes)
{
    foreach (TreeViewNode node in nodes)
    {
        <li>
            @if (node.IsLeaf)
            {
                <span class="leaf plus hasChilds @node.Type" id="@node.Id" data-url='@Url.Action("TreeNodesDivision", "Home", new {id = node.Id})'>@node.Name</span>
            }
            else
            {
                <span class="folder">@node.Name</span>
                <ul>
                    @TreeView(node.Children)
                </ul>
            }
        </li>
    }
}


<span class="folder">@Model.Root.Name</span>

<ul id="rootNode">
    @TreeView(Model.Root.Children)
</ul>

<script type="text/javascript">
    $(document).ready(function () {
        //        $('#rootNode').treeview({ collapsed: true });
        
        $('.DivisionState').on('click', function (e) {
            var currentListItem = $(e.target);
            var url = currentListItem.data('url');

            if (url != null) {

                if (currentListItem.has('.divBody').length == 0) {
                    loadDivisionStates(currentListItem, url);
                    currentListItem.toggleClass("minus");                    
                }
                else {
                    var body = currentListItem.children('.divBody').first();
                    body.children('#continentFolders').slideToggle('slow');
                    currentListItem.toggleClass("minus");
                }
            }
                
        });

        function loadDivisionStates(listItem, url) {
            $.get(url, function (data) {
                listItem.append(data);
            });
        }
    });
</script>