
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
@{
    Layout = "";
}

@using KSS.Models
@model TreeViewModel

@helper TreeView(TreeViewNode node)
{
    if (node.HasChilds)
    {
        if (node.Children != null && node.Children.Any())
        {
            <span class="folder minus hasChilds @node.Type" data-url='@Url.Action("TreeNodes", "Tree", new {id = node.Id, type = node.Type})'>
                @node.Name
            </span>
        }
        else
        {
            <span class="folder plus hasChilds @node.Type" data-url='@Url.Action("TreeNodes", "Tree", new {id = node.Id, type = node.Type})'>
                @node.Name
            </span>
        }
    }
    else
    {
          <span class="leaf @node.Type" id="@node.Id" data-url='@Url.Action("TreeNodes", "Tree", new {id = node.Id, type = node.Type})'>
            @node.Name
        </span>
    }

    if (node.HasChilds && node.Children!=null)
    {
        foreach (TreeViewNode childNode in node.Children)
        {
            <li>
                <ul>
                    @TreeView(childNode)
                </ul>
            </li>
        }
    }
}


<ul id="rootNode">
         @foreach (TreeViewNode rootNode in Model.RootNodes)
         {
             @TreeView(rootNode)
         }
</ul>

<script type="text/javascript">
    $(document).ready(function () {
        
        $('.DivisionState').on('click', function (e) {
            var currentListItem = $(e.target);
            var url = currentListItem.data('url');

            if (url != null) {

                if (currentListItem.has('.divBody').length == 0) {
                    loadDivisionStates(currentListItem, url);
                    currentListItem.toggleClass("minus");                    
                }
                else {
                    var body = currentListItem.children('.divBody').first();
                    body.children('#continentFolders').slideToggle('slow');
                    currentListItem.toggleClass("minus");
                }
            }
                
        });

        function loadDivisionStates(listItem, url) {
            $.get(url, function (data) {
                listItem.append(data);
            });
        }
    });
</script>