@{
    Layout = "";
}

@using KSS.Models
@model TreeViewNode
@helper TreeView(List<TreeViewNode> nodes)
{
    if (nodes != null)
    {
        foreach (TreeViewNode node in nodes)
        {
            if (!node.HasChilds)
            {
                <li>
                    <span class="leaf @node.Type" id="@node.Id">@node.Name</span>
                </li>
            }
            else
            {
                <li data-url='@Url.Action("TreeNodes", "Tree", new {id = node.Id, type = node.Type})'>
                    
                    <div class="plus rootArrow"></div>
                    <span class="folder hasChilds @node.Type" id="@node.Id">@node.Name</span>
                    <span class="tooltip">@node.Name</span>
                </li>
            }
        }
    }
}



<ul class="innerUL">
    @{
        var data = ViewBag.Children;
    }
    @TreeView(data)
</ul>