@using WebGrease.Css.Extensions
@model KSS.Models.HomeViewModel

<script src="@Url.Content("~/Scripts/jquery.jstree.js")" type="text/javascript"></script>

@section Header
{

    <nav class="mainMenuLayout">
        <img class="logo" src="~/Images/logoMRSK.png"/>
        
@*        <a class="userLabel" href='@Url.Action("Index", "Employee", new {id = "B682C266-37A5-42E5-A2C8-09845970534B"})'>Неавторизованный пользователь</a>    *@
        <a class="userLabel" data-url='@Url.Action("Index", "Employee", new { id = @ViewBag.UserID })'>@ViewBag.UserName</a>                        

        <ul class="mainMenu">
@*            <li class="selectedPage">@Html.ActionLink("Главная", "Index", "Home")</li>*@
@*            <li>@Html.ActionLink("Избранное", "Favorites", "Home")</li>*@
            @*            <li>@Html.ActionLink("Помощь", "Help", "Home")</li>*@
            <li id="mainMenuItem0" class="selectedPage">Главная</li>
            <li id="mainMenuItem1" data-url='@Url.Action("Favorites", "Home", new { startIndex = 0 })'>Избранное</li>
            <li id="mainMenuItem2" data-url='@Url.Action("Help", "Home")'>Помощь</li>
        </ul>
        
        <div class="birthDayComboBox">                                
            @if(Model.CheckBirthdaysAtDay(DateTime.Today))
            {
                <div class="hasBirthdayTriangle"></div>
            }
            <p>Дни рождения</p>
            <div class="plus"></div>
        </div>

        <div class="birthDayLayout">
            <img id="birthDayProgress" src="Images/progress.gif" />
        </div>
    </nav>
}


<div id="divTree">
    @Html.Partial("Tree", Model.TreeViewModel)
</div>

<div id="centralPart" class="">
@*    <div class="centralPartWithProgressBar" />*@
</div>


<script type="text/javascript">
    var _lastId = '-1';
    var _lastObject = null;
    var _isLoading = false;

    $(document).ready(function () {

        //клик по имени пользователя
        $('.userLabel').on('click', function(e) {

            var currentPageItem = $(e.target);
            var url = currentPageItem.data('url');

            ChangeSelectedPage(0);
            ClearTreeSelection();
            loadSearchPage(url);
        });

        //клик по пунктам главного меню
        $('.mainMenu li').on('click', function(e) {
            var clickedItem = $(e.target);

            var idItem = clickedItem.attr('id');
            ChangeSelectedPage(idItem.substr(idItem.length - 1));
        });

        //клик по комбобоксу с днями рождений
        $('.birthDayComboBox').on('click', function(e) {
            var comboBox = $('.birthDayComboBox');
            comboBox.toggleClass('activeBirthDayComboBox');
            comboBox.find('.plus').toggleClass('activePlus');

            $('.birthDayLayout').toggle();


            if ($('.birthDayLayout').find('.tabHeadersPanel').length == 0 && !_isLoading) {
                var url = '@Url.Action("GetBirthdays", "Home")';

                loadBirthdays(url);
                _isLoading = true;
            }
        });

        //клик по пункту дерева
        $('#divTree').on('click', function(e) {
            var target = $(e.target);
            var isSpan = $(e.target).is('span');

            if (isSpan) {
                //reload central part
                var ids = target.attr('id');

                if (_lastId != ids) {

                    if (_lastObject != null) {
                        _lastObject.toggleClass('selectedTreeNode');
                    }


                    var url = '@Url.Action("SearchView", new {id = "-1"})';
                    url = url.replace('-1', ids);

                    ChangeSelectedPage(0);

                    loadSearchPage(url);

                    _lastId = ids;
                    _lastObject = target.parent();
                    _lastObject.toggleClass('selectedTreeNode');
                }
            }
        });
    });

    function ChangeSelectedPage(page) {

        var clickedItem = $('#mainMenuItem' + page);
        if (!clickedItem.hasClass('selectedPage')) {
            $('.selectedPage').removeClass('selectedPage');
            clickedItem.addClass('selectedPage');
        
            $('#centralPart').empty();
        
            var url = clickedItem.data('url');
            if (url != null) {
        
                ClearTreeSelection();
        
                loadSearchPage(url);
            }
        }
    }

    //сброс выделения в дереве
    function ClearTreeSelection() {
        if (_lastObject != null) {
            _lastObject.removeClass('selectedTreeNode');
            _lastObject = null;
            _lastId = '-1';
        }
    }

    //загрузка центральной части для главной страницы
    function loadSearchPage(url) {
        var parent = $('#centralPart');
        if (parent != null) {
            parent.append('<div class="centralPartWithProgressBar"/>');
        }

//        $.get(url, function (data) {
//            if (parent != null) {
//                    parent.empty();
//                    parent.append(data);                    
//            }
        //        });

        $.ajax({
                url: url,
                cache: false,

            })
            .done(function(data) {
                if (parent != null) {
                    parent.empty();
                    parent.append(data);
                }
            });
    }

    //Загрузка именниников
    function loadBirthdays(url) {
        $.get(url, function (data) {
            var parent = $('.birthDayLayout');
            if (parent != null) {
                parent.empty();
                parent.append(data);
            }
            _isLoading = false;
        });
    }
</script>
